#!/usr/bin/env python
PACKAGE = "panda_controller"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
#----------------------------------------------computedTorqueMethod----------------------------------------------#
gen.add("computedTorqueMethod_PD_jointSpace", str_t, 0, "jointSpace", "computedTorqueMethod_PD_jointSpace")

gen.add("Kp1", double_t, 0, "Kp", 60, 0, 1000)#
gen.add("Kv1", double_t, 0, "Kv", 5, 0, 100)#

gen.add("Kp2", double_t, 0, "Kp_2", 60, 0, 1000)#
gen.add("Kv2", double_t, 0, "Kv_2", 5, 0, 100)#

gen.add("Kp3", double_t, 0, "Kp_3", 60, 0, 1000)#
gen.add("Kv3", double_t, 0, "Kv_3", 5, 0, 100)#

gen.add("Kp4", double_t, 0, "Kp_4", 60, 0, 1000)#
gen.add("Kv4", double_t, 0, "Kv_4", 2, 0, 100)#

gen.add("Kp5", double_t, 0, "Kp_5", 25, 0, 1000)#
gen.add("Kv5", double_t, 0, "Kv_5", 2, 0, 100)#

gen.add("Kp6", double_t, 0, "Kp_6", 15, 0, 1000)#
gen.add("Kv6", double_t, 0, "Kv_6", 2, 0, 100)#

gen.add("Kp7", double_t, 0, "Kp_7", 5, 0, 1000)#
gen.add("Kv7", double_t, 0, "Kv_7", 1, 0, 100)#

gen.add("computedTorqueMethod_PD_cartesianSpace", str_t, 0, "cartesianSpace", "computedTorqueMethod_PD_cartesianSpace")

gen.add("Kp_pos", double_t, 0, "Cartesian translational stiffness", 200, 0, 400)
gen.add("Kp_ori", double_t, 0, "Cartesian rotational stiffness", 10, 0, 80)
gen.add("Kv_pos", double_t, 0, "Cartesian translational damping", 25, 0, 50)
gen.add("Kv_ori", double_t, 0, "Cartesian rotational damping", 1, 0, 10)

#----------------------------------------------Backstepping----------------------------------------------#
gen.add("Backstepping_jointSpace", str_t, 0, "jointSpace", "Backstepping_jointSpace")

gen.add("K1_1", double_t, 0, "K1_1", 10, 0, 1000)#
gen.add("K2_1", double_t, 0, "K2_1", 1, 0, 100)#

gen.add("K1_2", double_t, 0, "K1_2", 10, 0, 1000)#
gen.add("K2_2", double_t, 0, "K2_2", 1, 0, 100)#

gen.add("K1_3", double_t, 0, "K1_3", 10, 0, 1000)#
gen.add("K2_3", double_t, 0, "K2_3", 1, 0, 100)#

gen.add("K1_4", double_t, 0, "K1_4", 5, 0, 1000)#
gen.add("K2_4", double_t, 0, "K2_4", 1, 0, 100)#

gen.add("K1_5", double_t, 0, "K1_5", 5, 0, 1000)#
gen.add("K2_5", double_t, 0, "K2_5", 1, 0, 100)#

gen.add("K1_6", double_t, 0, "K1_6", 5, 0, 1000)#
gen.add("K2_6", double_t, 0, "K2_6", 1, 0, 100)#

gen.add("K1_7", double_t, 0, "K1_7", 5, 0, 1000)#
gen.add("K2_7", double_t, 0, "K2_7", 1, 0, 100)#

#pkgname nodename name
exit(gen.generate(PACKAGE, "panda_controller", "panda_controller_param"))
