#!/usr/bin/env python
PACKAGE = "franka_example_controllers"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
#          name                   paramtype level desciption                    default=? min  max
gen.add("JointImpedanceController", str_t, 0, "JointImpedanceController", "JointImpedanceController")

gen.add("Joint_Kd", double_t, 0, "Joint_Kd", 0.5,  0, 600)#

gen.add("NocontactImpedance", str_t, 0, "NocontactImpedance", "NocontactImpedance")

gen.add("Cartesian_Md_pos", double_t, 0, "Cartesian_Md_pos", 1, 0, 10)#
gen.add("Cartesian_Dd_pos", double_t, 0, "Cartesian_Dd_pos", 18,  0, 100)#
gen.add("Cartesian_Kd_pos", double_t, 0, "Cartesian_Kd_pos", 81,  0, 1000)#

gen.add("Cartesian_Dd_ori", double_t, 0, "Cartesian_Dd_ori", 1,  0, 100)#
gen.add("Cartesian_Kd_ori", double_t, 0, "Cartesian_Kd_ori", 300,  0, 1000)#

gen.add("virtualAdmittance_M", double_t, 0, "virtualAdmittance_M", 1, 0, 100)#
gen.add("virtualAdmittance_D", double_t, 0, "virtualAdmittance_D", 20,  0, 100)#
gen.add("virtualAdmittance_K", double_t, 0, "virtualAdmittance_K", 16,  0, 200)#

gen.add("Pf", double_t, 0, "Pf", 1,  0, 100)#
gen.add("If", double_t, 0, "If", 1,  0, 100)#

#pkgname nodename name
exit(gen.generate(PACKAGE, "dynamic_compliance", "nocontact_impedance_param"))
